body
  margin: 0
  padding-top: 50px
.nav
  position fixed
  left 0
  top: 0
  right: 0
  z-index 1000
  height: 50px
  display: flex
  align-items: center
  a
    padding: 0 20px
    font-size: 16px
    color: #cccccc
    &.current
      color: #333333
